/* Chart */
.legend-item {
    cursor: pointer; 
}

.bullet {
    font-size: 32px; 
    line-height: 1; 
}   

/* CARD */
.custom-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.custom-shadow:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
}

.custom-shadow-search{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
}