/* CSS */
.wallets-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .wallets {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    gap: 20px;
  }
  
  .wallet {
    position: absolute;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    padding: 25px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }
  
  .wallet.active {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
  }
  
  .wallet.prev {
    transform: translateX(-100%) scale(0.8);
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  
  .wallet.next {
    transform: translateX(100%) scale(0.8);
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }

  /* ================================================= */

.wallet .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.wallet .wallet-header img {
    height: 20px;
}
.wallet .wallet-header .wallet-name {
    font-weight: 700;
    font-size: 18px;
}
.wallet .wallet-balance {
    font-size: 24px;
    font-weight: 00;
    margin-bottom: 10px;
}
.wallet .wallet-balance .fa-eye {
    margin-left: 10px;
}
.wallet .wallet-number {
    font-size: 16px;
    margin-bottom: 20px;
}
.wallet .wallet-footer {
    font-size: 16px;
    color: #ffffff;
}
.wallet .wallet-footer .fa-copy {
    margin-left: 10px;
}
.wallet .wallet-footer .fa-eye-slash {
    margin-left: 10px;
}
.wallet-btn {
    background-color: #004442;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.slide-btn.left {
    left: 10px;
}
.slide-btn.right {
    right: 10px;
}

/* details */

.wallet-details, .latest-transaction {
    margin-bottom: 20px;
}
.wallet-details div, .latest-transaction div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.wallet-details div span{
    font-size: 16px;
}
.wallet-details div span[data-value="positive"],
.latest-transaction div span[data-value="positive"] {
    color: #798645; /* Warna hijau untuk nilai positif */
}

.wallet-details div span[data-value="negative"],
.latest-transaction div span[data-value="negative"] {
    color: #CB6040; /* Warna merah untuk nilai negatif */
}

.latest-transaction .row {
    display: flex;
    flex-direction: column;  /* Menempatkan row dalam kolom */
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 16px;
}

.latest-transaction .col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.latest-transaction .col:nth-child(2) {
    color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan opacity 60% */
    font-size: 14px;
}

/* .latest-transaction table tr td[data-value="negative"] {
    color: #CB6040
} */

.see-all {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.see-all button {
    background-color: #ffffff;
    border: 0.5px solid #004442;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #004442;
    width: 100px;
    height: fit-content;
}